<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9588e6">  <td>23/10/17 21:14:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executer()[pri:0, instance:testclasspackage.Put_TC1@6e9a5ed8]">executer</td> 
  <td>main@1106681476</td>   <td></td> </tr>
<tr bgcolor="d4937b">  <td>23/10/17 21:14:34</td>   <td>4332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.executer()[pri:0, instance:testclasspackage.Delete_TC1@451001e5]">executer</td> 
  <td>main@1106681476</td>   <td></td> </tr>
<tr bgcolor="d7be99">  <td>23/10/17 21:14:35</td>   <td>5129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executer()[pri:0, instance:testclasspackage.Get_TC1@2b40ff9c]">executer</td> 
  <td>main@1106681476</td>   <td></td> </tr>
<tr bgcolor="dac38f">  <td>23/10/17 21:14:38</td>   <td>8247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executer()[pri:0, instance:testclasspackage.Post_TC1@4d1c005e]">executer</td> 
  <td>main@1106681476</td>   <td></td> </tr>
<tr bgcolor="7a8997">  <td>23/10/17 21:14:36</td>   <td>6462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executer()[pri:0, instance:testclasspackage.Patch_TC1@3e08ff24]">executer</td> 
  <td>main@1106681476</td>   <td></td> </tr>
</table>
